<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% feed_meta %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<link rel="shortcut icon" type="image/ico" href="{{ "/assets/favicon.ico" | relative_url }}"/>
<title>{{ page.title | default: site.title }}</title>
<html lang="{{page.lang | default: fr}}">
<script src="https://kit.fontawesome.com/cf713a3727.js"></script>
{% seo %}
