<!DOCTYPE html>
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<div class="absolute top-1 left">
			<!-- multi language
			{%- if page.lang == "en" -%}
				{% assign index= "/index-en.html" %}
			{% else %}
				{% assign index= "/" %}
			{% endif %}
			-->
      		<a href="{{ site.t[page.lang].home.url }}" class="home"><i>CATHEU.TECH</i></a>
    		</div>
			<img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}">
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.t[page.lang].tagline }}</p>
			<ul class="social">
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
				<a type="application/atom+xml" href="/feed.xml"><li><i class="rssfeed fas fa-rss-square"></i></li></a>
			</ul>
			<!-- mutli language
			<ul class="social">
				{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
				{% for post in posts %}
						<a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
				{% endfor %}
				{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
				{% for page in pages %}
						<a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
				{% endfor %}
			</ul>
			-->
			{%- if site.plainwhite.hypemachine -%}
			<div class="hypem">
				<div id="hypem-widget"></div><script type="text/javascript" src="https://hypem.com/widget/v2/loved/
				{{site.plainwhite.hypemachine.account}}/6/hype.js?bcol={{site.plainwhite.hypemachine.bcol}}&
				tcol={{site.plainwhite.hypemachine.tcol}}&
				lcol={{site.plainwhite.hypemachine.lcol}}"></script>
			</div>
			{%- endif -%}
		</section>
		<section class="content">
			<header class="header">
			<nav class="navbar">
				<a class="navlink" href="/">HOME</a>
				{% assign pages=site.pages | where:"lang", page.lang  %}
				{%- for page in pages -%}
				{%- if page.url contains "/pages" -%}
				<a class="navlink" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
				{%- endif -%}
				{%- endfor -%}
			</nav>
			</header>
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
