---
layout: default
---

<div class="post-container">
<a class="post-link" href="{{ page.url | relative_url }}">
	<h2 class="post-title">{{ page.title | escape }}</h2>
</a>
<div class="post-meta">
	<ul class="post-categories">
		{% assign tags=page.categories | where:"lang", page.lang %}
		{%- for tag in tags -%}
		<li>{{ tag }}</li>
		{%- endfor -%}
	</ul>
	<div class="post-date"><i class="icon-calendar"></i>{% include date.html date=page.date %}</div>
</div>
<div class="post">
	{{ content }}
</div>
{%- if site.plainwhite.giscus.repo -%}
<div id="giscus_thread"></div>
	<script src="https://giscus.app/client.js"
					data-repo="{{ site.plainwhite.giscus.repo }}"
					data-repo-id="{{ site.plainwhite.giscus.repo_id }}"
					data-category="{{ site.plainwhite.giscus.category }}"
					data-category-id="{{ site.plainwhite.giscus.category_id }}"
					data-mapping="{{ site.plainwhite.giscus.mapping }}"
					data-strict="{{ site.plainwhite.giscus.strict }}"
					data-reactions-enabled="1"
					data-emit-metadata="0"
					data-input-position="top"
					data-theme="{{ site.plainwhite.giscus.theme }}"
					data-lang="{{ site.plainwhite.giscus.lang }}"
					data-loading="lazy"
					crossorigin="anonymous"
					async>
	</script>
  <noscript>Please enable JavaScript to view the comments.</noscript>
</div>
{%- endif -%}
